.venv 
.venv2
__pycache__
temp_latents/
benchmark_results/
.vscode/
benchmark_results_100/
benchmark_results_500/
benchmark_results_1000/
benchmark_results_2000/
benchmark_results_5000/
benchmark_results_10000/
benchmark_results_20000/
benchmark_results_50000/
benchmark_results_FULL/
exp_breaking_point_easy_user_edit/
exp_breaking_point/
exp_teaser_figure/
OLD_benchmark_results_backup_5_feb_2025/
error/
*.pt
*.out
*.err
_legacy/
benchmark_results_backup_5_feb_2025
results_734/
input_debug_1/
input_debug_2/
input_debug_3/
input_debug_4/
input_debug_5/
input_debug_6/
input_debug_7/
input_debug_8/
input_debug_9/
input_debug_10/
exp_breaking_point_1/
exp_breaking_point_2/
exp_breaking_point_3/
exp_breaking_point_4/
exp_breaking_point_5/
exp_breaking_point_6/
onur_dataset/
benchmark_input/
exp_check_oracle/
exp_check_oracle_2/
benchmark/
